:root {
  --bold-weight: 600;
  --light-weight: 300;
  --font-color: #fff;
  --background-color: #000;
  --light-color: rgba(255, 255, 255, 0.6);
}

body.homepage-background {
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  color: var(--font-color);
}

.homepage-h1 {
  font-size: 42px;
  line-height: 1.6;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}

.homepage-h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
  padding-bottom: 15px;
  text-align: center;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--font-color);
}

.btn {
  border: 2px solid var(--font-color);
}

.btn:hover {
  border: 2px dashed var(--font-color);
  font-weight: var(--bold-weight);
}

.bold-weight {
  font-weight: var(--bold-weight);
}

.light-weight {
  font-weight: var(--light-weight);
}

.navbar-logo {
  height: 10%;
  width: 10%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.6);
}

.logo {
  display: block;
  height: 20%;
  width: 20%;
  margin: 0 auto;
  padding-top: 12%;
}

.hr-above {
  border-top: 2px dashed var(--font-color);
  margin: 2% 15% 0 15%;
}

.hr-bottom {
  border-top: 2px dashed var(--font-color);
  margin: 3% 15% 3% 15%;
}

.homepage-link-container {
  text-align: center;
}

.btn {
  border-radius: 0;
  font-size: 16px;
  margin-bottom: 5%;
  padding: 5px 25px;
}

body.about-page {
  background-color: var(--background-color);
}

article h2 {
  margin: 0 25px;
  padding-top: 160px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
}

article p {
  padding-top: 15px;
  margin: 0 32px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: var(--font-color);
}

.about-button {
  margin: 26px;
}

.personal-pic {
  padding-top: 80px;
  max-width: 450px;
  height: auto;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

li a {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  color: var(--font-color);
  text-decoration: none;
}

li a:hover {
  font-size: 20px;
  border: 2px dashed var(--font-color);
}

.links-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.links-container:before,
.links-container:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px dashed;
  margin: auto;
}
.links-container:before {
  margin-right: 10px;
}
.links-container:after {
  margin-left: 10px;
}

body.work-page {
  background-color: var(--background-color);
}

.work-page-header {
  margin-top: 8%;
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.work-page-h1 {
  text-align: center;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  padding: 80px 10px;
}

.work-hr-above {
  border-top: 2px dashed var(--font-color);
}

.work-hr-bottom {
  border-top: 2px dashed var(--font-color);
}

.previous-project {
  padding: 50px 50px 30px 50px;
  font-size: 30px;
}

.featured-Project {
  padding: 80px 50px 30px 50px;
  font-size: 30px;
}

.hormoz-pic {
  padding: 4px;
  border: 2px dashed var(--light-color);
  width: 450px;
  height: auto;
  margin: 5px 50px 10px 50px;
}

.weather-pic {
  padding: 4px;
  border: 2px dashed var(--light-color);
  width: 435px;
  height: auto;
  margin: 40px 50px 10px 50px;
}

.portfolio-pic {
  padding: 4px;
  border: 2px dashed var(--light-color);
  width: 450px;
  height: auto;
  margin: 5px 50px 10px 50px;
}

figcaption {
  font-weight: var(--light-weight);
  font-size: 15px;
  text-align: center;
  margin: 5px 0 10px 0;
  color: var(--light-color);
}

h6 {
  color: var(--font-color);
  padding: 15px 50px 0px 50px;
}

.work-page p {
  line-height: 1.8;
  color: var(--font-color);
  padding: 8px 45px 20px 45px;
  font-size: 16px;
}

.hormoz-button,
.weather-button,
.portfolio-button {
  margin-left: 45px;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }

  .navbar-logo {
    height: 14%;
    width: 14%;
  }

  .bold-weight {
    font-weight: 500;
  }

  .logo {
    padding-top: 35%;
  }

  .hr-above {
    margin: 2% 5% 0 5%;
  }

  .hr-bottom {
    margin: 3% 5% 3% 5%;
  }

  .btn {
    font-size: 12px;
  }

  .personal-pic {
    padding-top: 60px;
    width: 250px;
    height: auto;
  }

  article h2 {
    padding: 20px 10px 10px;
    font-size: 26px;
  }

  article p {
    padding: 8px 10px;
    line-height: 1.8;
    font-size: 16px;
  }

  .about-button {
    margin: 20px 39px 10px;
  }

  .work-page-header {
    margin-top: 27%;
  }

  .work-page-h1 {
    font-size: 20px;
    padding: 40px 20px;
    font-weight: var(--bold-weight);
  }

  .previous-project {
    padding: 35px 0 40px;
    font-size: 22px;
    text-align: center;
  }

  .featured-Project {
    padding: 30px 0 20px;
    font-size: 22px;
    text-align: center;
  }

  .hormoz-pic {
    width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .weather-pic {
    width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .portfolio-pic {
    width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  figcaption {
    font-size: 12px;
    text-align: center;
    margin: 10px 0 5px 0;
  }

  h6 {
    text-align: center;
  }

  .work-page p {
    text-align: center;
    font-size: 14px;
    padding: 10px 50px 25px 50px;
  }

  .hormoz-button,
  .weather-button,
  .portfolio-button {
    display: block;
    margin: -15px auto 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .personal-pic {
    padding-top: 60px;
    width: 350px;
    height: auto;
  }

  article h2 {
    margin: 0 18px;
    padding-top: 20px;
    font-size: 26px;
  }

  article p {
    margin: 0 18px 15px 18px;
    font-size: 16px;
  }

  .about-button {
    margin: 15px 20px 20px;
  }

  .work-page-header {
    margin-top: 17%;
  }

  .work-page-h1 {
    font-size: 22px;
    padding: 40px 10px;
  }

  .previous-project {
    padding: 30px 0 40px;
    font-size: 28px;
    text-align: center;
  }

  .featured-Project {
    padding: 30px 0 40px;
    font-size: 28px;
    text-align: center;
  }

  .hormoz-pic {
    width: 360px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .weather-pic {
    width: 360px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .portfolio-pic {
    width: 360px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  figcaption {
    font-size: 13px;
    text-align: center;
    margin: 12px 0 12px 0;
  }

  h6 {
    margin-top: 2px;
    text-align: center;
  }

  .work-page p {
    text-align: center;
    font-size: 15px;
    padding: 10px 80px 30px 80px;
  }

  .hormoz-button,
  .weather-button,
  .portfolio-button {
    display: block;
    margin: -25px auto 30px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-logo {
    height: 13%;
    width: 13%;
  }
  .personal-pic {
    padding-top: 70px;
    display: block;
    margin: 0 auto;
    width: 340px;
    height: auto;
  }
  article h2 {
    margin: 0 18px 10px 18px;
    padding-top: 90px;
    font-size: 24px;
  }
  article p {
    margin: 0 17px;
    font-size: 16px;
  }

  .about-paragraph-bottom {
    margin-bottom: 15px;
  }

  .about-button {
    margin: 15px 18px 20px;
  }

  .work-page-header {
    margin-top: 10%;
  }

  .work-page-h1 {
    font-size: 22px;
    padding: 55px 10px;
  }

  .previous-project {
    padding: 40px 0 30px;
    font-size: 32px;
  }

  .featured-Project {
    padding: 50px 0 30px;
    font-size: 32px;
  }

  .hormoz-pic {
    width: 340px;
    height: auto;
    margin: 20px 0px 10px 0px;
  }

  .weather-pic {
    width: 340px;
    height: auto;
    margin: 25px 0px 10px 0px;
  }

  .portfolio-pic {
    width: 340px;
    height: auto;
    margin: 25px 0px 10px 0px;
  }

  figcaption {
    font-size: 13px;
    text-align: center;
    margin: 8px 0 12px 0;
  }

  h6 {
    padding: 2px 30px 8px 30px;
  }

  .work-page p {
    font-size: 15px;
    padding: 2px 30px 20px 30px;
    font-size: 16px;
  }

  .hormoz-button,
  .weather-button,
  .portfolio-button {
    display: block;
    margin: 5px 30px 10px 30px;
  }
}
